<div class="tasks-container">

  <h2>Your Tasks</h2>

  <div class="create-task">
    <input type="text" placeholder="Title" [(ngModel)]="newTitle">
    <input type="text" placeholder="Description" [(ngModel)]="newDescription">
    <button (click)="addTask()">Add</button>
  </div>

  <ul>
    <li *ngFor="let task of tasks" [class.done]="task.done">
      <span (click)="toggleTask(task)">
        {{ task.title }} - {{ task.description }}
      </span>

      <button (click)="deleteTask(task.id!)">Delete</button>
    </li>
  </ul>

</div>
